body{
    font-family:'Segoe UI',sans-serif;

    color:#e6e6e6;
    margin:0;
    overflow-x:hidden;
    background-image: url(https://wallpapercave.com/wp/wp8757601.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    
  }
  header{
    background:linear-gradient(90deg,#ff0000,#b80101);
    padding:25px;
    text-align:center;
    font-size:34px;
    font-weight:bold;
    letter-spacing:1px;
    animation:fadein 1.5s;
  }
  @keyframes fadein{from{opacity:0;transform:translateY(-20px)}to{opacity:1;transform:translateY(0)}}
  nav{
    background:#111;
    padding:15px;
    text-align:center;
    box-shadow:0 0 15px #000;
    position:sticky;
    top:0;
    z-index:10; 
  }
  nav a{
    color:#fff;
    margin:0 20px;
    text-decoration:none;
    font-size:20px;
    font-weight:bold;
    transition:0.3s;
  }
  nav a:hover{
    color:#E10600;
    text-shadow:0 0 8px #E10600;
  }
  .container{
    width:85%;
    margin:auto;
    padding:25px;
    margin-top:25px;
    border-radius:10px;
    box-shadow:0 0 20px #000;
    animation:fadein 1.3s;
    line-height:1.6;
    background-color: #000 ;
    background-color: rgba(0,0,0,.5); 

    
    
   
    
  }
  h2{color:#E10600;font-size:28px;margin-top:0 ;
    font-family: "Orbitron", sans-serif;
    font-weight:400 ;
    font-style: normal;}
  img{
    width:360px;
    margin:10px;
    border-radius:8px;
    box-shadow:0 0 12px #000;
    transition:0.4s;
  }
  img:hover{
    transform:scale(1.05);
    box-shadow:0 0 25px #E10600;
  }
  button{
    padding:12px 20px;
    background:#E10600;
    border:none;
    color:white;
    font-size:18px;
    border-radius:6px;
    margin-top:15px;
    cursor:pointer;
  }
  button:hover{
    background:#E10600;
  }
  p{
    border-left:solid 4px #E10600;
    padding-left: 12px;

    
  }
  h3{color:#E10600;font-size:16px;margin-top:0 ;
    font-family: "Orbitron", sans-serif;
    font-weight: 400;
    font-style: normal;}
  a{color:#E10600}

  h1{color: #E10600;
    font-family: "Orbitron", sans-serif;
    font-weight: 400;
    font-style: normal;}

    .click-zoom input[type=checkbox] { display: none }
    .click-zoom img { transition: transform 0.25s ease; cursor: zoom-in }
    .click-zoom input[type=checkbox]:checked~img { transform: scale(2); cursor: zoom-out }
  img{
  
    margin-left:155px
    
  }
  #monza{
    margin-left: 155px;
  }
.csapat{
  float: right;
  width: 755px;
  height: 488px;
}
.redb{
  background: linear-gradient(90deg,rgba(0, 19, 68, 1) 52%, rgba(255, 211, 0, 1) 72%); ;
  border-left:solid 4px #E10600;
  padding-left: 12px;
  width: 740px;
  border-radius: 15px;
}
.merc{
  background: linear-gradient(90deg,rgba(86, 95, 100, 1) 56%, rgba(0, 161, 155, 1) 72%);
  border-left:solid 4px #E10600;
  padding-left: 12px;
  width: 740px;
  border-radius: 15px;
}
.ferr{
  background: linear-gradient(90deg,rgba(239, 26, 45, 1) 56%, rgba(255, 242, 0, 1) 72%);
  border-left:solid 4px #E10600;
  padding-left: 12px;
  width: 740px;
  border-radius: 15px;
}
.mcla{
  background: linear-gradient(90deg,rgba(0, 0, 0, 1) 14%, rgba(255, 128, 0, 1) 43%);
  border-left:solid 4px #E10600;
  padding-left: 12px;
  width: 740px;
  border-radius: 15px;
}
.aston{
  background: linear-gradient(90deg,rgba(3, 122, 104, 1) 72%, rgba(255, 255, 255, 1) 100%);
  border-left:solid 4px #E10600;
  padding-left: 12px;
  width: 740px;
  border-radius: 15px;
}
.alpine{
  background: linear-gradient(90deg,rgba(255, 136, 189, 1) 21%, rgba(71, 159, 226, 1) 85%);
   border-left:solid 4px #E10600;
  padding-left: 12px;
  width: 740px;
  border-radius: 15px;
}
.will{
  background: linear-gradient(90deg,rgba(50, 103, 212, 1) 21%, rgba(0, 0, 0, 1) 85%);
    border-left:solid 4px #E10600;
  padding-left: 12px;
  width: 740px;
  border-radius: 15px;
}
.sauber{
  background: linear-gradient(90deg,rgba(1, 192, 14, 1) 0%, rgba(82, 226, 82, 1) 32%, rgba(11, 14, 15, 1) 80%);
  border-left:solid 4px #E10600;
  padding-left: 12px;
  width: 740px;
  border-radius: 15px;
}
.haas{
  background: linear-gradient(90deg,rgba(230, 0, 43, 1) 0%, rgba(0, 0, 0, 1) 32%, rgba(255, 255, 255, 1) 80%);
  border-left:solid 4px #E10600;
  padding-left: 12px;
  width: 740px;
  border-radius: 15px;
}
.rb{
  background: linear-gradient(90deg,rgba(108, 152, 255, 1) 50%, rgba(255, 255, 255, 1) 80%);
  border-left:solid 4px #E10600;
  padding-left: 12px;
  width: 740px;
  border-radius: 15px;
}
  
  
  
  